<div class="container">
  <h1><%= @event.title %></h1>
  <p><%= @event.description %></p>
  <p><strong>Date de début:</strong> <%= @event.start_date %></p>
  <p><strong>Durée:</strong> <%= @event.duration %> heures</p>
  <p><strong>Date de fin:</strong> <%= @event.end_date %> €</p>
  <p><strong>Nombre d'inscrit:</strong> <%= @event.nombre_inscrit %> €</p>
  <p><strong>Lieu:</strong> <%= @event.location %></p>
  <p><strong>Prix:</strong> <%= @event.price %> €</p>
  <p><strong>adresse email :</strong> <%= @event.mail_organisateur %> €</p>
  

</div>


